[submodule "PatrickCollinsCourse/Lottery_Lesson9/foundry-smart-contract-lottery-f23/lib/solmate"]
	path = PatrickCollinsCourse/Lottery_Lesson9/foundry-smart-contract-lottery-f23/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "PatrickCollinsCourse/Lottery_Lesson9/foundry-smart-contract-lottery-f23/lib/foundry-devops"]
	path = PatrickCollinsCourse/Lottery_Lesson9/foundry-smart-contract-lottery-f23/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "PatrickCollinsCourse/ERC20_Lesson10/lib/openzeppelin-contracts"]
	path = PatrickCollinsCourse/ERC20_Lesson10/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "PatrickCollinsCourse/ERC721_Lesson11/lib/forge-std"]
	path = PatrickCollinsCourse/ERC721_Lesson11/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "PatrickCollinsCourse/ERC721_Lesson11/lib/openzeppelin-contracts"]
	path = PatrickCollinsCourse/ERC721_Lesson11/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "PatrickCollinsCourse/USD_Lesson12/lib/forge-std"]
	path = PatrickCollinsCourse/USD_Lesson12/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "PatrickCollinsCourse/USD_Lesson12/lib/openzeppelin-contracts"]
	path = PatrickCollinsCourse/USD_Lesson12/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "PatrickCollinsCourse/USD_Lesson12/lib/chainlink-brownie-contracts"]
	path = PatrickCollinsCourse/USD_Lesson12/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "PatrickCollinsCourse/Dao_Lesson14/lib/forge-std"]
	path = PatrickCollinsCourse/Dao_Lesson14/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "PatrickCollinsCourse/Dao_Lesson14/lib/openzeppelin-contracts"]
	path = PatrickCollinsCourse/Dao_Lesson14/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "BlackJack/lib/forge-std"]
	path = BlackJack/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BlackJack/lib/openzeppelin-contracts"]
	path = BlackJack/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "BlackJack/lib/foundry-chainlink-toolkit"]
	path = BlackJack/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "PresalePlatform/lib/forge-std"]
	path = PresalePlatform/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "PresalePlatform/lib/openzeppelin-contracts"]
	path = PresalePlatform/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
